<h1>Comics</h1>


New:
<input type="text" [(ngModel)]="newComic.title">
<button class="btn btn-success" (click)="addComic(newComic)">Add</button>

<hr>

<div *ngFor="let comic of comics" class="comics-list">
  {{comic.title}}

  |

  <a href="{{comic.link}}" target="_blank">
    Original Link
  </a><span *ngIf="isSaving">Saving</span>


  |

  <a class="btn btn-default" (click)="showDescription(comic)">
    <span *ngIf="!comic.show">Show Description</span>
    <span *ngIf="comic.show">Hide Description</span>
  </a>

  <div *ngIf="comic.show" class="alert alert-info">
    <input type="text" [(ngModel)]="comic.title">
    <button class="btn btn-success" (click)="updateComic(comic)">Update</button>
    <p>
      <img [src]="comic.description.p.img.src">
    </p>
    <p>
      {{comic.description.p.img.title}}
    </p>
  </div>

</div>


Data:


<pre>{{comics|json}}</pre>
