<app-jumbotron title="{{jumbotronConfig.title}}"
               (clicked)="jumbotronConfig.buttonClick($event)"
               [description]="jumbotronConfig.description"
               [label]="jumbotronConfig.buttonLabel">


  <form #newComicForm="ngForm" (submit)="addComic(newComic)">
    <div class="well well-sm" *ngIf="showNewComicForm">
      <h3>New Comic</h3>

      <div class="form-group has-feedback" [class.has-error]="title.invalid&&(title.dirty||title.touched)">

        <label class="control-label">Title:</label>
        <input
          required
          #title="ngModel"
          name="title"
          type="text"
          class="form-control"
          [(ngModel)]="newComic.title"
          placeholder="Enter title here">

        <div class="text-muted" *ngIf="title.untouched">
          This field is mandatory
        </div>

        <div class="text-danger" *ngIf="title.invalid&&(title.dirty||title.touched)">
          Name is required!
        </div>

      </div>

      <div class="form-group">
        <input type="text"
               name="imageUrl"
               class="form-control" [(ngModel)]="newComic.description.p.img.src" placeholder="Enter image url here">
      </div>

      <div class="form-group">
        <button
          [disabled]="newComicForm.invalid"
          class="btn btn-success" type="submit">
          <span *ngIf="!newComic.isSaving">Add</span>
          <span *ngIf="newComic.isSaving">Adding</span>
        </button>
      </div>
    </div>
  </form>


</app-jumbotron>


<app-comics-list></app-comics-list>
